body {
  /* font: "Roboto"; */
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* Header */
a {
  text-decoration: none;
  color: white;
}

.head {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: white;
  padding: 0 10%;
}

.header {
  display: flex;
  padding: 16px 0 64px 0;
  justify-content: space-between;
}

.header h3 {
  margin: 0;
}

.pages {
  display: flex;
  gap: 16px;
}

.title-div {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding-bottom: 64px;
  min-width: 700px;
}

.title {
  width: 400px;
}

h1 {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
}

.title p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0;
  margin-bottom: 8px;
}

.logo-img {
 width: 500px; 
 height: auto;
 align-self: center;
}

button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
}

/* Skill Section */

/* Quote Section */
.mid-quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 60px 10%;
  margin: 0;
}

.mid-quote p {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.mid-quote h3 {
  font-weight: bold;
  font-size: 20px;
  color: #1F2937;
  align-self: flex-end;
  padding-right: 50px;
}

/* Blue Box Section */
.blue-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0095ff;
  margin: 50px 10%;
  color: white;
  padding: 30px;
}

.blue-box-text {
  display: flex;
  flex-direction: column;
}

.blue-box-text h3, .blue-box-text p{
  margin: 0;
}

.blue-box button {
  border: 1px solid white;
  color: white;
}
/* Footer */
.footer{
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
}